body {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans Condensed', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-size: 44px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 10vh;
    background-color: #002b36;
}

.navbar a {
    padding: 0% 1%;
    text-decoration: none;
    color: white;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
}

.navbar a:hover {
    box-shadow: 0 3px white;
}

.navbar p {
    margin: 0;
    color: white;
    font-size: 32px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.content {
    max-width: 100%;
    padding-top: 10vh;
}

/* Landing section containing name and image etc */
.landing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #002b36;
}

.landing img {
    border: 0px;
    border-radius: 50%;
}

#cover-image {
    height: 300px;
    width: 300px;
    border: 5px solid #ff554d;
}

.landing-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20%;
    font-size: 64px;
    padding-left: 5%;
    color: white;
}

.landing-name * {
    margin: 0;
}

.landing-name p {
    border-left: 2px solid white;
    padding-left: 20px;
    font-size: 24px;
    color: white;
}

.linkedin, .git, .email {
    text-decoration: none;
}

.linkedin img, .git img {
    height: 60px;
    width: 60px;
    filter: brightness(0) invert(1);
}

/* about me section */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about p {
    font-size: 24px;
    margin: 1% 4%;
    text-align: center;
}

/* work experience section */
.work {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-jobs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.work-job {
    background-color: white;
    padding: 2%;
    max-width: 70vh;
    border: 10px solid #002b36;
    margin-left: 4%;
    margin-right: 4%;
}

.work-job h3, h4 {
    margin: 0;
}

.job-date {
    margin: 0;
    text-align: right;
}

.job-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.job-header img {
    height: 50px;
    width: 50px;
}

.job-title {
    display: flex;
    flex-direction: column;
}

.job-joiner {
    background-color: #002b36;
    height: 100px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.joiner-circle {
    background-color: #002b36;
    height: 60px;
    width: 60px;
    border: 0px;
    border-radius: 50%;
}

/* projects section */

.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #002b36;
}

.projects h2 {
    color: white;
}

.projects-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.project {
    height: 400px;
    width: 400px;
    margin: 2% 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 5px solid #5484a4;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.project h3 {
    margin: 0;
    font-size: 32px;
    padding-left: 10px;
}

#final-year {
    background-image: url("carlogo.png");
}

#third-year {
    background-image: url("ofh.png");
}

#match-tracker {
    background-image: url("matchtracker.png");
}

/* contact section */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-methods {
    display: flex;
    flex-direction: row;
}

.contact-methods .linkedin img, .contact-methods .email img {
    height: 100px;
    width: 100px;
    filter: none;
    margin: 20px;
    margin-bottom: 80px;
}

/* modals */

#final-year-modal, #third-year-modal, #match-tracker-modal {
    display: none;
}

.modal {
    position: fixed;
    top: 0;
    margin-top: auto;
    height: 100%;
    width: 100%;
    background-color: rgba(23, 37, 42, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.modal-header h2 {
    margin: 0;
}

.modal-header img {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.modal-content {
    padding: 5%;
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content p {
    width: 100%;
}

.modal-content .git img {
    filter: none;
}