body{
  margin: 0;
}
ul{
  text-align: center;
  padding: 0;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%
}
li{
  display:inline-block;
  padding: 1%;
  background-color: white;
  width: 10%;
  font-size: 25px;
  font-family: "josefin sans";
}
li a{
  padding: 5%;
  color: #5484a4;
  text-decoration: none;
  box-shadow: 0px;
  transition: box-shadow 0.1s linear;
}
li a:hover{
  box-shadow: 0px 3px #ff6961;
}
#Content {
  padding-top: 2.5%;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 30px;
}
.slash{
  padding: 0;
  width: 29px;
}
h1{
  text-align: center;
  font-size: 64px;
  font-family: "josefin sans";
  color: #5484a4;
}
h2 a{
  font-size: 48px;
  font-family: "josefin sans";
  color: #5484a4;
  border-width: 100%;
  padding-left: 5px;
  text-decoration: none;
}
p{
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  color: #2F4F4F;
  margin: 2.5%;
}
p a{
  color: #5484a4;
  text-decoration: none;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  /*border: 5px solid #ff6961;*/
  background-color: #ff6961;
  box-shadow: 5px 5px #ff6961, -5px -5px #5484a4;
  animation-name: imgShadow;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
@keyframes imgShadow {
  0% {box-shadow: 7px 7px #ff6961, -7px -7px #5484a4;}
  25% {box-shadow: 7px -7px #ff6961, -7px 7px #5484a4;}
  50% {box-shadow: -7px -7px #ff6961, 7px 7px #5484a4;}
  75% {box-shadow: -7px 7px #ff6961, 7px -7px #5484a4;}
  100% {box-shadow: 7px 7px #ff6961, -7px -7px #5484a4;}
}
.work-box{
  background-image: url(code-screeny.png);
  background-position: 0% 50%;
  padding: 3%;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  margin: 2.5%;
  box-shadow: 0px 0px 0px 0px #ff6961;
  transition: box-shadow 0.1s linear;
}
.work-box:hover{
  box-shadow: 10px 10px #ff6961, -10px -10px #5484a4;
}
a{
  text-decoration: none;
  color: white;
}
.line{
  background-color: #5484a4;
  width: 100%;
  height: 3px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  color: #2F4F4F;
  margin: 0px;
  padding-left: 1%;
  padding-bottom: 1%;
}
h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #BDBDBD;
  margin: 0px;
  padding-left: 1%;
  border-left: 3px solid #5484a4;
}
h5{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #BDBDBD;
  margin: 0px;
  padding-left: 1%;
  border-left: 3px solid #5484a4;
}
a .material-icons{
  font-size: 40px;
  padding: 5px;
  border: 3px solid #ff6961;
  border-radius: 50%;
}
.work-text{
  margin-top: 1%;
  border-left: 3px solid #BDBDBD;
  padding-left: 1%;
}
.jobCard {
  display: flex;
  margin-bottom: 20px;
}
.jobTitle {
  width: 25%;
  background: #5484a4;
  border:0;
  display: flex;
  flex-direction: column;
}
.jobTitle h4 {
  font-size: 1.2em;
  color: #F5F5F5;
  border: 0;
  font-weight:400;
  margin: 3px;
}
.jobTitle h3 {
  font-size: 1.5em;
  border: 0;
  color: white;
  font-weight:800;
  margin: 3px;
}
.jobTitle h5{
  font-size: 1em;
  border: 0;
  font-weight:400;
  margin: 3px;
  color: #F5F5F5;
}
.jobDescription {
  width: 75%;
  border: 3px solid #5484a4;
}
.jobDescription p {
  font-size: 20px;
}
