body{
  margin: 0;
}
ul{
  text-align: center;
  padding: 0;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%
}
li{
  display:inline-block;
  padding: 1%;
  background-color: white;
  width: 10%;
  font-size: 25px;
  font-family: "josefin sans";
}
li a{
  color: #5484a4;
  text-decoration: none;
}
li a:hover{
  border-bottom: 3px solid #5484a4;
  font-size: 25.5px;
}
#Content {
  padding-top: 2.5%;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 30px;
}
.slash{
  padding: 0;
  width: 29px;
}
h1{
  text-align: center;
  font-size: 64px;
  font-family: "josefin sans";
  color: #5484a4;
}
h2 a{
  font-size: 48px;
  font-family: "josefin sans";
  color: #5484a4;
  border-left: 3px solid #5484a4;
  border-bottom: 3px solid #5484a4;
  border-width: 100%;
  padding-left: 5px;
  text-decoration: none;
}
p{
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  color: #2F4F4F;
  padding: 2.5%;
}
p a{
  color: #5484a4;
  text-decoration: none;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 5px solid #5484a4;
  background-color: #5484a4;
}
.work-box{
  background-image: url(code-screeny.png);
  background-position: 0% 50%;
  padding: 3%;
  font-family: "Courier New", Courier, monospace;
  font-size: 32px;
  margin: 2.5%;
}
.work-box a{
  text-decoration: none;
  color: white;
}
